.data-grid > table {
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  margin-block: 10px;
  width: 80%;
  font-family: "Segoe UI";
}

.data-grid > table th,
.data-grid > table td {
  border: 1px solid gainsboro;
  padding: 5px;
}

.data-grid > table td {
  text-align: center;
}

.add-product {
  font-family: "Segoe UI";
}

.add-product > legend {
  font-size: 24px;
  font-weight: bold;
}

.add-product > div {
  display: flex;
}
.add-product > label {
  min-width: 100px;
  margin-block: 5px;
}
