.button-panel {
  background-color: beige;
  padding: 5px;
  margin: 10px;
  font-family: "Segoe UI";
  display: flex;
}

.button-panel > button {
  min-width: 100px;
  margin: 5px;
  padding: 5px;
}
